#default {
  width: 100%;
  height: 100%;
  fill: white;
}

#secondary {
  width: 100%;
  height: 100%;
  fill: red;
}

#brightness {
  font-size: 28;
  fill: grey;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 6;
  y: 100%-30;
  x: 50%;
}
